<ul>
  <li><a routerLink="/binding" routerLinkActive="selected">Binding</a></li>
  <li><a routerLink="/galeria" routerLinkActive="selected">Galeria</a></li>
  <li><a routerLink="/users" routerLinkActive="selected">CRUD de usuarios</a></li>
  <li><a routerLink="/users2" routerLinkActive="selected">CRUD en componentes</a></li>
  <li><a routerLink="/trv" routerLinkActive="selected">Template varaibles</a></li>
  <!-- <li><a routerLink="/form-template" routerLinkActive="selected">Form template</a></li> -->
  <li><a routerLink="/observables" routerLinkActive="selected">Observable</a></li>
</ul>
