<div class="content">
<h2>CRUD de usuarios</h2>
<h3>Añade un usuario a la lista</h3>
<div class="col-md-6">
  <form class="form-inline">
    <div class="form-group">
      <label for="nombre">Nombre: </label>
      <input type="text" class="form-control" id="nombre" name=nombre [(ngModel)]="newUser.name">
    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" class="form-control" id="email" name=email [(ngModel)]="newUser.email">
    </div>
    <div class="form-group">
      <label for="telefono">Phone: </label>
      <input type="text" class="form-control" id="telefono" name=telefono [(ngModel)]="newUser.phone">
    </div>
    <button type="submit" class="btn btn-primary" (click)="nuevoUsuario()">Añadir</button>
  </form>
</div>

<h3>Lista de usuarios</h3>
<input type="checkbox" class="checkbox" [(ngModel)]="ocultarSinTelefono">Ocultar sin telefono
<div class="col-12">
  <div class="row">
    <div class="col-2">Id</div>
    <div class="col-3">Nombre</div>
    <div class="col-3">Email</div>
    <div class="col-3">Phone</div>
    <div class="col-1"></div>
  </div>
  <div class="row" *ngFor="let user of users; let i=index"
  (click)="selUser(user)" appHighlight="orange" [class.selected]="user.id===selectedUser.id" >
    <ng-container *ngIf="!ocultarSinTelefono || (ocultarSinTelefono && user.phone)">
      <div class="col-2">{{user.id}}</div>
      <div class="col-3">{{user.name}}</div>
      <div class="col-3">{{user.email}}</div>
      <div class="col-3">{{user.phone}}</div>
      <div class="col-1"><button class="btn btn-danger" (click)="delUsuario(user.id!)"> X </button></div>
    </ng-container>
  </div>
</div>
<div *ngIf="selectedUser" class="col-md-6">
  <h3>Datos del usuario {{selectedUser.name}}</h3>
  <div><label>Id: </label>{{selectedUser.id}}</div>
  <div><label>Nombre: </label><input [(ngModel)]="selectedUser.name"/></div>
  <div><label>Email: </label><input [(ngModel)]="selectedUser.email"/></div>
  <div><label>Phone: </label><input [(ngModel)]="selectedUser.phone"/></div>
</div>
